.wpcf7-form {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include input-text;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include input-text;
  }
}
div.wpcf7 input[type="text"],
div.wpcf7 input[type="email"],
div.wpcf7 input[type="tel"],
div.wpcf7 textarea {
  @include input-text;
  @include input-style;
}
div.wpcf7 textarea,
div.wpcf7 input[type="text"].not-name {
  padding-right: 0;
  background-image: none;
}
div.wpcf7 input[type="text"] {
  background-image: url("../icons-all/form-name.png");
}
div.wpcf7 input[type="tel"] {
  background-image: url("../icons-all/form-tel.png");
}
div.wpcf7 input[type="email"] {
  padding-right: size(24);
  background-image: url("../icons-all/form-mail.png");
}
div.wpcf7 input[type="submit"] {
  height: size(37);
  border-radius: 5px;
  width: 100%;
  font-weight: 400;
  color: #ffffff;
  font-size: size(24);
  line-height: size(23);
  text-align: center;
  padding: 2px size(40);
  background-color: $red-main;
  background-image: url("../icons-all/form-submit-white.png");
  background-position: size(20) center;
  background-repeat: no-repeat;
  background-size: size(13);
  transition: background-position .5s;
  &:hover {
	background-position: size(10) center;
	transition: background-position .5s;
  }
}
.white-back-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: size(54) 15%;
  background-color: #ffffff;
  div.wpcf7 input[type="submit"] {
	margin-top: 1rem;
  }
  .logo {
	margin-bottom: size(40);
  }
}
.white-opacity-form {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 5px 8px 54px rgba(0, 0, 0, 0.96);
}
.repeat-form {
  padding: size(25) size(50) 0 size(50);
  div.wpcf7 input[type="submit"] {
	margin-top: 0;
  }
  div.wpcf7 input[type="text"],
  div.wpcf7 input[type="tel"] {
	height: size(37);
  }
}
.form-title {
  @include mid-title;
  color: #000000;
  text-align: center;
}
.form-title-big {
  @include base-title;
  color: #000000;
  text-align: center;
}
