//Header
header {
  position: relative;
  width: 100%;
  padding: size(10) 0;
  z-index: 12345;
  background-color: #0b0b0b;
  .hamburger {
	padding: 0;
	display: flex;
  }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after,
  .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
	background-color: #ffffff;
  }
  &.fixed {
	background-color: rgba(0, 0, 0, 0.6) !important;
  }
  &.home-header {
	position: fixed;
	top: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.6);
  }
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
	max-height: size(55);
  }
}
.drop-menu {
  display: none;
  position: absolute;
  right: 0;
  justify-content: flex-start;
  align-items: flex-start;
  padding: size(40) size(60);
  background-color: #111111;
  width: auto;
  z-index: 9999;
  top: 100%;
  overflow-y: auto;
  nav {
	width: 100%;
  }
  ul{
	li{
	  display: flex;
	  align-items: baseline;
	  a {
		color: #ffffff;
		@include mid-title;
		font-style: normal;
		letter-spacing: normal;
		margin-bottom: 0.5rem;
		transition: color .5s;
		&:hover {
		  color: $red-main;
		  transition: color .5s;
		}
	  }
	}
  }
  li.menu-item-has-children {
	//position: relative;
	//padding-left: 2rem;
	flex-direction: column;
	&:after {
	  position: absolute;
	  left: 0;
	  content: '+';
	  margin: 0 size(15);
	  @include mid-title;
	  color: #ffffff;
	  cursor: pointer;
	}
	ul.sub-menu {
	  display: none;
	  opacity: 0;
	  transform: translateY(-100%);
	  pointer-events: none;
	  margin-right: 0;
	  transition: all .5s;
	  a {
		font-size: size(24);
		line-height: size(26);
		font-weight: 300;
	  }
	  &.show-menu {
		display: flex;
		height: auto !important;
		flex-direction: column;
		opacity: 1;
		transform: translateY(0);
		pointer-events: all;
		transition: all .5s;
	  }
	}
  }
}
.red-color {
  color: $red-main !important;
}

//Popup
.pop-form {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity .5s;
  &.show-popup {
	opacity: 1;
	pointer-events: all;
	transition: opacity .5s;
  }
}
.curr-body-hidden {
  overflow: hidden;
}
.float-form {
  position: relative;
  width: calc(100% - 10px);
  max-height: 95vh;
  transition: all .5s;
  z-index: 99999999999;
  transform: translateY(-100%);
  overflow-y: auto;
  opacity: 0;
  &.show-float-form{
	opacity: 1;
	transform: translateY(0);
  }
}
.close-form {
  position: absolute;
  right: size(19);
  top: size(13);
  cursor: pointer;
  img {
	width: size(27);
  }
}
.pop-trigger {
  cursor: pointer;
  img {
	width: size(41);
  }
}
.header-tel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 size(50);
  &:hover .tel-number {
	color: $red-main;
	transition: color .5s;
  }
}
.tel-number {
  color: #ffffff;
  font-size: size(48);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(36);
  margin-left: 10px;
  transition: color .5s;
}
//Footer
#leos {
  background-color: transparent;
}
footer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/footer-back.png");
}
.footer-main {
  padding-top: size(75);
  padding-bottom: size(20);
}
.foo-menu {
  padding-top: 1rem;
}
.foo-title {
  color: #000000;
  font-size: size(25);
  font-weight: 400;
  line-height: size(26);
  text-align: right;
  margin-bottom: size(15);
}
.hop-hey.two-columns {
  column-count: 2;
  column-gap: 2rem;
}
footer {
  position: relative;
  li {
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
	page-break-inside: avoid; /* Firefox */
	break-inside: avoid-column;
	position: relative;
	a, span {
	  display: flex;
	  @include small-text;
	  font-weight: 300;
	  margin-bottom: 10px;
	}
	a:hover, span:hover {
	  color: $red-main;
	  cursor: pointer;
	  transition: all .5s;
	}
  }
}
.foo-main-menu {
  ul {
	display: flex;
	align-items: center;
	margin: size(30) 0 0 0;
  }
  li {
	a {
	  padding: 0 size(10);
	  font-weight: 400;
	}
  }
}
#go-top {
  position: absolute;
  top: 1rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 999;
}
.to-top-wrap {
  img {
	width: size(46);
	animation: jump-top 1.2s ease-in-out alternate infinite;
  }
}
.top-text {
  @include small-text;
  text-align: center;
  margin-top: 5px;
}
.socials-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  a {
	margin: 0 size(10);
	&:first-child {
	  margin: 0 0 0 size(10);
	}
  }
  .fab {
	font-size: size(17);
	color: #000000;
	transition: color .5s;
	&:hover {
	  color: $red-main;
	  transition: color .5s;
	}
  }
}
.header-socials {
  .fab {
	color: #ffffff;
  }
}
