//Slider
[dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
  z-index: 33;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.slick-prev:before, .slick-next:before{
  color: transparent;
}
.arrows-slider {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	width: size(13);
	height: size(12);
	top: calc(100% + 1rem);
  }
  .slick-prev:before, .slick-next:before{
	color: transparent;
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../icons-all/arrow-right.png");
	left: 1.25rem;
	right: unset;
  }
  [dir="rtl"] .slick-next{
	background-image: url("../icons-all/form-submit-white.png");
	left: 0;
  }
}
.slider-base-wrap {
  position: relative;
  padding: size(75) 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .slick-slider .slick-track, .slick-slider .slick-list, .slick-initialized .slick-slide {
	display: flex !important;
  }
  .slick-initialized .slick-slide {
	align-items: center;
  }
}
.slider-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 9;
}
.slider-container {
  position: relative;
  z-index: 10;
}
//Base link
.base-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: size(45);
  color: $red-main;
  @include base-text;
  text-align: right;
  background-image: url("../icons-all/arrow-left-red.png");
  background-size: size(13);
  background-position: 15px center;
  background-repeat: no-repeat;
  background-color: transparent;
  border-radius: 5px;
  transition: background-position .5s;
  &:hover {
	color: $red-main;
	background-position: 0 center;
	transition: background-position .5s;
  }
}
.white-link {
  color: #ffffff;
  background-image: url("../icons-all/form-submit-white.png");
  &:hover {
	color: #ffffff;
  }
}
.more-black-link {
  padding: 3px size(45);
  cursor: pointer;
  color: #000000;
  border: 2px solid #000000;
  background-image: url("../icons-all/arrow-bottom-black.png");
  transition: background-color .5s;
  &:hover {
	color: #000000;
	background-color: $red-main;
	background-position: 15px center;
	transition: background-color .5s;
  }
  &.hide {
	display: none;
  }
}
//Faq
.faq {
  background-color: #0b0b0b;
  padding: size(40) 0;
  .card {
	border: none !important;
  }
  .question-card {
	margin-bottom: size(27);
  }
  .question-title {
	display: flex;
	align-items: center;
	width: 100%;
	text-align: right;
	@include mid-title;
	color: #ffffff;
	border: none !important;
	padding: size(15) size(35);
	background-image: url("../icons-all/arrow-bottom.png");
	background-position: size(20) center;
	background-repeat: no-repeat;
	background-size: 13px;
	transition: color .5s;
  }
}
.faq-output {
  padding: size(45) size(35);
}
.question-header {
  min-height: size(59);
  background-color: #111111;
  transition: color .5s;
  &.active {
	color: $red-main;
	transition: color .5s;
  }
}
.arrow-bottom {
  background-image: url("../icons-all/arrow-top.png") !important;
  color: $red-main !important;
  transition: color .5s;
}
//Post card
.post-item-col {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}
.post-item {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &:after {
	display: block;
	content: '';
	padding-bottom: 100%;
  }
}
.post-item-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.post-item-title {
  @include mid-title;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  &:hover {
	color: #ffffff;
  }
}
.post-item-text {
  @include base-text;
  text-align: center;
  font-weight: 300;
  color: #ffffff;
}
.post-item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: size(20) size(10);
}
//Product slider
.prod-arrows-slider {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	width: size(46);
	height: size(46);
	top: calc(100% + 2.5rem);
  }
  .slick-prev:before, .slick-next:before{
	color: transparent;
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../icons-all/arrow-right-circle-b.png");
	right: 0;
	transition: background-image .5s;
	&:hover {
	  background-image: url("../icons-all/arrow-right-circle-r.png");
	  transition: background-image .5s;
	}
  }
  [dir="rtl"] .slick-next{
	background-image: url("../icons-all/arrow-left-circle-b.png");
	left: calc(100% - 5rem);
	transition: background-image .5s;
	&:hover {
	  background-image: url("../icons-all/arrow-left-circle-r.png");
	  transition: background-image .5s;
	}
  }
}
//Product slider
.proj-arrows-slider {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	top: calc(100% + 1rem);
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../icons-all/arrow-right-circle-w.png");
  }
  [dir="rtl"] .slick-next{
	background-image: url("../icons-all/arrow-left-circle-w.png");
  }
}
//Project part
.project-photo {
  position: relative;
  display: flex;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &:after {
	content: '';
	display: block;
	padding-bottom: 100%;
  }
  &:before {
	content: '';
	display: block;
	position: absolute;
	top: 13px;
	left: 13px;
	width: size(46);
	height: size(46);
	background-image: url("../icons-all/plus.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
  }
}
.ajax-post-item {
  .post-item-content {
	opacity: 0;
	pointer-events: none;
	transition: all .5s;
  }
  &:hover {
	.post-item-content {
	  opacity: 1;
	  pointer-events: all;
	  transition: all .5s;
	}
  }
}
