/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}

@media (min-width: 1920px) {
  html{
	font-size: 24px;
  }
  .container {
	width: 85%;
	max-width: unset !important;
  }
  .contact-foo-img {
	max-width: 45%;
  }
  .post-preview {
	max-width: 60%;
  }
}
@media (min-width: 1500px) {
  .container {
	max-width: 1390px;
  }
  .product-page {
	.post-item {
	  width: 100%;
	  &:after {
		padding-bottom: 100%;
	  }
	}
  }
  .post-item {
	width: 85%;
	&:after {
	  padding-bottom: 85%;
	}
  }
}
@media (max-width: 1500px) {
  .col-foo-40 {
	flex: 0 0 40%;
	max-width: 40%;
  }
  .hop-hey.two-columns {
	column-count: 1;
	column-gap: unset;
  }
  .block-title {
	font-size: size(100);
	line-height: size(90);
  }
}
//Bootstrap 4 breakpoints

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html{
    font-size: 22px;
  }
}

/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
    font-size: 20px;
  }
  .home-category {
	&:after {
	  padding-bottom: 45%;
	}
  }
  .cat-icon {
	max-height: size(50);
  }
  .home-category-title {
	@include mid-title;
  }
  .contact-foo-img {
	max-width: 55%;
  }
  .benefit-content-col {
	padding: size(45) 8% size(45) 5%;
  }
  .benefit-row {
	display: flex;
	flex: 0 0 100%;
	max-width: 100%;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
	&:nth-child(even) {
	  flex-direction: row-reverse;
	  .benefit-content-col {
		padding: size(45) 5% size(45) 8%;
	  }
	}
  }

}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
    font-size: 19px;
  }
  .header-tel {
	padding: 0 size(30);
  }
  .tel-number {
	font-size: size(38);
	line-height: size(36);
  }
  .foo-form-col {
	order: 2;
  }
  .foo-menu-links {
	order: 3;
  }
  .hop-hey.two-columns {
	column-count: 2;
	column-gap: 2rem;
  }
  .slider-img {
	margin-top: 2rem;
  }
  .arrows-slider {
	[dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	  top: 98%;
	}
  }
  .filial-item {
	padding: size(30) 0;
  }
  .product-row-main {
	justify-content: center;
  }
  .product-body-col {
	padding: 0 15px;
  }
  .post-content-output {
	margin-bottom: 3rem;
  }
  .project-col {
	flex: 0 0 50%;
	max-width: 50%;
	&:last-child {
	  flex: 0 0 100%;
	  max-width: 100%;
	}
  }
  .project-link-image {
	&:after {
	  padding-bottom: 23%;
	}
  }
  .preview-post-title {
	@include base-text;
  }
  .base-preview {
	@include small-text;
	margin-bottom: size(10);
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 18px;
  }
  .footer-container-menu {
	max-width: 95%;
  }
  .cat-icon {
	max-height: size(30);
  }
  .block-title {
	font-size: size(75);
	line-height: size(80);
  }
  .about-page-main {
	padding: size(60);
  }
  .item-col-50 {
	flex: 0 0 100%;
	max-width: 100%;
  }
  .benefit-content-col {
	padding: size(60) 10% size(60) 5% !important;
  }
  .mobile-about-col {
	display: flex;
	order: -1;
  }
  .about-part-output {
	display: none;
  }
  .part-cat-3 {
	flex: 0 0 100%;
	max-width: 100%;
  }
  .big-slider-col {
	position: relative;
	left:unset;
  }
  .post-slider-col {
	left: unset;
  }
  .post-slider-nav {
	width: auto;
  }
  .base-link-large {
	display: none;
  }
  .blog-link-row {
	display: flex;
	margin-top: 4rem;
	margin-bottom: 2rem;
  }
  .post-preview {
	margin: 1rem 18px;
  }
  .preview-post-title {
	@include mid-title;
	margin-bottom: size(10);
  }
  .base-preview {
	@include base-text;
	margin-bottom: size(20);
  }
}
@media (max-width: 650px) {
  .project-col {
	flex: 0 0 100%;
	max-width: 100%;
  }
  .project-image:not(.project-link-image) {
	&:after {
	  padding-bottom: 85% !important;
	}
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 17px;
  }
  .tel-number {
	display: none;
  }
  .header-tel {
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	z-index: 33333;
	margin: 0;
	padding: size(10);
	background-color: #000000;
	border: 2px solid $red-main;
	animation: jump 1.2s ease-in-out alternate infinite;
  }
  .foo-form-col {
	order: -1;
	margin: size(60) 0;
  }
  .cat-icon {
	max-height: size(75);
  }
  .home-category {
	flex: 0 0 100%;
	max-width: 100%;
  }
  .category-item {
	flex: 0 0 100% !important;
	max-width: 100% !important;
	&:after {
	  padding-bottom: 50% !important;
	}
  }
}







/*
::::: Custom media queries :::::
*/

@media (max-width: 450px) {
  .hop-hey.two-columns {
	column-count: 1;
	column-gap: unset;
  }
  .repeat-form {
	padding: size(25) size(20) 0 size(20);
  }
  .block-title {
	font-size: size(60);
	line-height: size(60);
  }
}
