@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "hover";
@import "animate";
@import "header-footer";
@import "forms";
@import "partials";

body{
  font-family: Almoni, sans-serif;
  text-align: right;
}
.base-title {
  @include base-title;
  color: #ffffff;
}
.slider-output {
  * {
	color: #ffffff;
  }
  ol {
	padding-inline-start: 10px;
  }
  p, li {
	@include small-text;
	color: #ffffff;
  }
  p {
	margin-bottom: size(30);
  }
  h1, h2 {
	@include mid-title;
	font-weight: 700;
	margin-bottom: size(30);
  }
  h3 {
	font-size: size(26);
	line-height: size(30);
	margin-bottom: size(15);
  }
  h4 {
	font-size: size(22);
	line-height: size(25);
	margin-bottom: size(12);
  }
  h5 {
	font-size: size(20);
	line-height: size(22);
	margin-bottom: size(10);
  }
  h6 {
	font-size: size(18);
	line-height: size(20);
	margin-bottom: size(10);
  }
  ul {
	list-style: disc;
	margin-right: 1rem;
  }
}
.post-content-output {
  * {
	color: #0b0b0b !important;
  }
}
.home-main-output {
  * {
	color: #ffffff;
	text-align: center;
  }
  p, li {
	font-size: size(18);
	line-height: size(20);
	margin-bottom: size(30);
  }
  h1, h2 {
	@include mid-title;
	font-weight: 700;
	margin-bottom: size(20);
  }
  h3 {
	font-size: size(26);
	line-height: size(30);
	margin-bottom: size(15);
  }
  h4 {
	font-size: size(22);
	line-height: size(25);
	margin-bottom: size(12);
  }
  h5 {
	font-size: size(20);
	line-height: size(22);
	margin-bottom: size(10);
  }
  h6 {
	font-size: size(18);
	line-height: size(20);
	margin-bottom: size(10);
  }
  ul {
	list-style: disc;
	margin-right: 1rem;
  }
}
//Homepage
.home-main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.marmo-back {
  padding: size(50) 0;
  background-image: url("../img/footer-back.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.home-categories-wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
.home-category {
  display: flex;
  flex: 0 0 50%;
  max-width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &:after {
	content: '';
	display: block;
	padding-bottom: 37%;
  }
  &:hover {
	.category-overlay {
	  background-color: rgba(0, 0, 0, 0);
	  transition: background-color .5s;
	}
  }
}
.category-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 5%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: background-color .5s;
}
.home-category-title {
  @include big-title;
  color: #ffffff;
  text-align: center;
}
.cat-icon {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  max-height: size(88);
  max-width: size(112);
  margin-bottom: size(10);
  img {
	max-height: 100%;
  }
}
.block-title {
  color: #000000;
  font-size: size(130);
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(100);
  text-align: center;
  text-transform: uppercase;
}
.home-posts-block {
  background-image: linear-gradient(to top, #0b0b0b 0%, #4a4a4a 26%, rgba(255, 255, 255, 0) 100%);
}
.posts-slider-wrap {
  display: flex;
  justify-content: flex-end;
}
//Contact page
.contact-page {
  padding-top: size(140);
  background-image: url("../img/contact-top.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #0b0b0b;
  .block-title {
	color: #ffffff;
  }
}
.contact-foo-img {
  position: absolute;
  left: 0;
  max-width: 35%;
}
.filial-item {
  li a, span {
	@include base-text;
	color: #ffffff;
	transition: color .5s;
	&:hover {
	  color: $red-main;
	  transition: color .5s;
	}
  }
}
.contact-page-form {
  padding: size(25);
  margin-bottom: size(90);
  background-color: rgba(255, 255, 255, 0.8);
}
.contact-f-img {
  img {
	width: 100%;
  }
}
.cont-col-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &:after {
	content: '';
	display: block;
	padding-bottom: 50%;
  }
}
.filial-item {
  padding: size(50) 15%;
}
.filial-col {
  margin-bottom: size(25);
}
.filial-col:nth-child(odd) .filial-row {
  flex-direction: row-reverse;
}
//About page
.about-page-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: size(100) 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 100vh;
}
.about-content-page {
  margin-top: 0;
  background-color: #0b0b0b;
  padding: size(100) 0;
}
.about-text-top {
  * {
	color: #000000;
  }
  h1, h2, h3, h4, h5, h6 {
	margin-bottom: size(10);
  }
}
.about-benefits-block {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
.item-col-50 {
  flex: 0 0 50%;
  max-width: 50%;
}
.max-content-wrap {
  flex: 0 0 100%;
  max-width: 100%;
}
.about-item-content {
  * {
	color: #0b0b0b;
  }
  ol {
	padding-inline-start: 10px;
  }
  p, li {
	@include base-text;
  }
  p {
	margin-bottom: size(30);
  }
  h1, h2 {
	@include big-title;
	font-weight: 400;
	margin-bottom: size(20);
  }
  h3 {
	font-size: size(40);
	line-height: size(40);
	margin-bottom: size(15);
  }
  h4 {
	@include base-title;
	margin-bottom: size(12);
  }
  h5 {
	@include mid-title;
	margin-bottom: size(10);
  }
  h6 {
	font-size: size(28);
	line-height: size(30);
	margin-bottom: size(10);
  }
  ul {
	list-style: disc;
	margin-right: 1rem;
  }
}
.benefit-content-col {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  padding: size(60) 15% size(60) 5%;
}
.benefit-row {
  display: flex;
  flex: 0 0 100%;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  &:nth-child(even) {
	flex-direction: row-reverse;
	.benefit-content-col {
	  padding: size(60) 5% size(60) 15%;
	}
  }
}
.about-part-content {
  background-image: url("../img/form-same-back.png");
  background-position: top center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #0b0b0b;
  padding: size(70) 0 size(120) 0;
  margin-top: 0;
}
.about-part-output {
  position: absolute;
  right: 50%;
  z-index: 10;
}
.mobile-about-col {
  display: none;
}
.form-about {
  margin-top: -1px;
  margin-bottom: -1px;
  background-color: #0b0b0b;
  padding: size(100) 0;
  .white-opacity-form {
	background-color: transparent;
	background-image: url("../img/about-form-back.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: size(16) size(29);
  }
  .about-form-row {
	box-shadow: 5px 8px 54px #313030;
	background-color: rgba(0, 0, 0, 0.6);
	margin: 0;
	padding: size(20) size(20) 0 size(20);
  }
  div.wpcf7 input[type="text"] {
	background-image: url("../icons-all/form-name-white.png");
  }
  div.wpcf7 input[type="tel"] {
	background-image: url("../icons-all/form-tel-white.png");
  }
  div.wpcf7 input[type="text"],
  div.wpcf7 input[type="tel"] {
	border-bottom: 1px solid #ffffff;
  }
  div.wpcf7 input[type="text"],
  div.wpcf7 input[type="tel"],
  .form-title-big,
  .form-title {
	color: #ffffff;
  }
  .wpcf7-form {
	::placeholder {
	  color: #ffffff;
	}
	::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	  color: #ffffff;
	}
  }
}
//Product page
.page-product-body {
  position: relative;
  background-image: url("../img/white-top.png");
  background-position: top center;
  background-size: 100%;
  margin-bottom: -1px;
  ::-webkit-scrollbar {
	width: size(24);
	right: 0;
  }
  /* Track */
  ::-webkit-scrollbar-track {
	background-color: #ebebeb;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: $red-main;
	border-radius: 5px;
	height: size(60);
  }
}
.page-product-top {
  margin-top: -1px;
  margin-bottom: -1px;
  width: 100%;
  height: 4rem;
  background-color: #0b0b0b;
  background-image: url("../img/white-top.png");
  background-position: bottom center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.post-content-output {
  max-height: size(777);
  padding: 0 size(28);
  overflow-y: auto;
  direction: ltr;
}
.same-block {
  background-image: url("../img/same-block-back.png");
  .form-about {
	background-color: transparent;
  }
}
.same-posts-block {
  padding-top: size(50);
}
.same-block-title {
  @include big-title;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: size(80);
}
.product-body-col {
  padding: 0;
}
.gallery-top-item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  &:after {
	display: block;
	content: '';
	padding-bottom: 55%;
  }
}
.gallery-list {
  display: flex !important;
  align-items: stretch !important;
}
.gallery-list-item {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 size(18) size(18) rgba(0, 0, 0, 0.49);
  background-color: #ffffff;
  &:after {
	display: block;
	content: '';
	padding-bottom: 95%;
  }
}
.slider-padding {
  padding: size(19) 7px size(30) 7px;
}
.product-row-main {
  justify-content: flex-end;
}
.post-page-title {
  @include big-title;
  color: #000000;
  text-align: center;
  margin-bottom: size(20);
}
.post-page-desc {
  @include base-text;
  color: #000000;
  text-align: center;
}
//Project page
.project-item-col {
  display: none !important;
  &.show {
	display: flex !important;
  }
}
.not-found-posts {
  .post-page-title {
	color: $red-main;
  }
}
//Categories on page with products
#accordion-cats {
  .card {
	background-color: rgba(255, 255, 255, 0.8);
	border: none;
	border-radius: 0;
	box-shadow: 5px 8px 38px rgba(49, 48, 48, 0.3);
	margin-bottom: size(30);
	min-height: size(79);
	justify-content: center;
  }
  .prod-cat-title {
	@include mid-title;
	font-weight: 700;
	color: #000000;
	transition: color .5s;
	&:hover {
	  color: $red-main;
	  transition: color .5s;
	}
  }
  .card-header {
	border: none;
	border-radius: 0 !important;
	background-color: rgba(255, 255, 255, 0.8);
	padding: size(20);
  }
  .card-header-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  .card-body {
	display: flex;
	flex-direction: column;
	padding: 0 size(20) size(20) size(10) !important;
  }
  .btn {
	padding: 0;
  }
  .child-link {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	@include base-text;
	color: #000000;
	transition: color .5s;
	margin-bottom: size(20);
	&:hover {
	  color: $red-main;
	  transition: color .5s;
	}
  }
}
.plus {
  display: block;
  &.hide {
	display: none;
  }
}
.minus {
  display: none;
  &.show {
	display: block;
  }
}
.prod-title-cont {
  margin-top: -1rem;
}
//Category page
.category-page-body {
  background-color: #0b0b0b;
  background-image: url("../img/cat-back-top.png");
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  padding: size(150) 0;
  .block-title {
	color: #ffffff;
  }
}
.category-item {
  .home-category-title {
	margin-bottom: size(10);
  }
  .cat-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 10%;
	height: 0;
	opacity: 0;
	transition: height .5s;
  }
  &:hover {
	.category-overlay {
	  background-color: rgba(0, 0, 0, 0.4);
	}
	.cat-content {
	  height: auto;
	  opacity: 1;
	  transition: height .5s;
	}
  }
}
.plus-cat {
  width: size(46);
}
.cat-preview {
  @include base-text;
  color: #ffffff;
  text-align: center;
  margin-bottom: size(15);
}
.cat-block-layout {
  margin: 0;
}
.category-item {
  &:after {
	padding-bottom: 50%;
  }
}
.part-cat-3 {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  flex: 0 0 50%;
  max-width: 50%;
  .category-item:nth-child(3) {
	flex: 0 0 100%;
	max-width: 100%;
  }
  .category-item:nth-child(2), .category-item:first-child {
	&:after {
	  padding-bottom: 190%;
	}
  }
  &:nth-child(2) {
	.category-item:first-child {
	  flex: 0 0 100%;
	  max-width: 100%;
	  &:after {
		padding-bottom: 50%;
	  }
	}
	.category-item:nth-child(2), .category-item:nth-child(3) {
	  flex: 0 0 50%;
	  max-width: 50%;
	  &:after {
		padding-bottom: 190%;
	  }
	}
  }
}
.home-categories-wrapper:last-child {
  .home-category:last-child {
	flex-grow: 1 !important;
  }
}
.home-category:last-child {
  flex-grow: 1 !important;
}
//Projects on homepage
.home-projects {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  background-color: #0b0b0b;
}
.project-col {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  flex: 0 0 33.3%;
  max-width: 33.3%;
}
.project-item {
  padding: 7px;
  flex-grow: 1;
  cursor: pointer;
  &:hover {
	.post-item-overlay {
	  background-color: rgba(0, 0, 0, 0.4);
	  background-image: none;
	  transition: all .5s;
	}
	.post-item-content {
	  opacity: 1;
	  pointer-events: all;
	  transition: all .5s;
	}
  }
}
.project-col:nth-child(2) {
  .project-item:first-child {
	.project-image:after {
	  display: block;
	  content: '';
	  padding-bottom: 60%;
	}
  }
}
.project-image {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &:after {
	display: block;
	content: '';
	padding-bottom: 85%;
  }
  .post-item-overlay {
	background-color: rgba(0, 0, 0, 0.6);
	background-image: url("../icons-all/plus.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: size(46);
	align-items: center;
	transition: all .5s;
  }
  .post-item-content {
	opacity: 0;
	pointer-events: none;
	padding: 10%;
	transition: all .5s;
  }
}
.project-link-image {
  background-image: url("../img/pr-link-back.png");
  &:after {
	display: block;
	content: '';
	padding-bottom: 3%;
  }
  .post-item-overlay {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
  }
}
//Posts slider
.posts-slider-wrap {
  overflow-x: hidden;
  padding-bottom: size(80);
  margin-bottom: -1px;
}
.post-slider-nav {
  width: 120%;
}
.post-slider-big {
  .slick-slide {
	padding: 18px;
  }
}
.post-top-item {
  box-shadow: 0 18px 18px rgba(0, 0, 0, 0.49);
  background-color: #ffffff;
  &:after {
	padding-bottom: 87%;
  }
}
.big-slider-col {
  position: relative;
  left: -8%;
  .base-link {
	width: size(200);
	padding-right: 18px;
  }
}
.post-slider-col {
  left: -6%;
}
.blog-link-row {
  display: none;
}
.preview-post-title {
  @include mid-title;
  color: #000000;
  font-weight: 700;
  margin-bottom: size(10);
}
.base-preview {
  @include base-text;
  color: #000000;
  margin-bottom: size(20);
}
a.base-preview {
  color: $red-main;
  transition: font-weight .5s;
  &:hover {
	color: $red-main;
	font-weight: 700;
	transition: font-weight .5s;
  }
}
.post-preview {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@import "responsive";
